
@media only screen 
    and (min-device-width : 375px) 
{
    body{
    margin: 0;
    background-image:url('RPS-mob2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: soft-light;
    
    }

    header>h1
    {
        font-size:30px;
        text-align: center;
    }
    header>sign
    {
        font-size:8px;
        text-align: center;
    }
    
}
@media(min-width: 650px)
{
body{
    margin: 0;
    background-image:url('RPS-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: soft-light;
    background-color: rgba(0,0,0,0.60);
}
    header>h1
    {
        font-size:40px;
        text-align: center;
    }
    header>sign
    {
        font-size:15px;
        text-align: center;
    }
    .element>img
{
    opacity: 0.5;
}

    .element>img:hover
{
    opacity: 1;
    cursor: pointer;
}
    

}


header>sign>a
{
    color: cyan;
    font: 20px;
    font-family: monospace;
    text-decoration:none;
}
header>sign>a:hover
{
    color: aliceblue;
    cursor:pointer;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;;
    background-color:black;
    font-family: sans-serif;
}

scoreBoard
{
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
}
bord
{
    color: aliceblue;
    background: black;
    border: solid;
    border-radius:30px;
    margin: 30px;
    padding: 0px 20px;;
    
}
.scores
{
    display: flex;
    justify-content: center;
    color: gold;
}

selected
{
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    color: aliceblue;
    background: black;
    border: solid;
    border-radius: 30px;
    margin: 0 50px 10px 50px;
    padding: 10px 0px;
}
selBoard>span
{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
selboard
{
    font-size: 1.5rem;
}

img
{
    height: 120px;
    max-width: 100px;
    border: solid;
    border-width: thick;
    border-color: dimgrey;
    box-shadow: -1px 1px white;
    border-radius: 30px;
}

#move
{
  display: flex;
    flex-direction: row;
    justify-content:space-around; 
    color: aliceblue;
    background: black;
    border: solid;
    border-radius: 30px;
    margin: 20px 50px;
    padding: 10px 0px;
}

game
{
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    color: aliceblue;
    background: black;
    border: solid;
    border-radius: 30px;
    margin: 20px 50px;
    padding: 10px 0px;
}

.element>img:hover{
    cursor: pointer;
}
button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

html
{
    height: 100%;
    width: 100%;
}
.GO
{
    display: flex;
    height: 100%;
    width: 100%;
    background: black;
    color: chartreuse;
    justify-content: center;
    align-items: center; 
    background: rgba(0,0,0, 0.80); 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed; 
}

.ansBut
{
    color: chartreuse;
    font-size: 25px;
}
.ansBut:hover
{
    color: aliceblue;
}

